.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 96px;
}
body {
  background-color: black;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  color: black;
}